
# Pasta de configuração do Visual Studio Code
/.vscode

# Pasta com imagens de teste
/imagens

# Pasta com videos de teste
/videos

# Pasta com os arquivos de preprocessamento
/cache

# Pasta com os resultados da segmentação
/resultados

*.pyc